# File e cartelle del sistema operativo
.DS_Store
Thumbs.db

# File di configurazione locali e log
.env
.env.backup
Homestead.json
Homestead.yaml
*.log

# Cartelle degli editor di codice
/.idea
/.vscode
/.fleet
/.zed
/.phpactor.json

# Dipendenze e file di build di Laravel (con il percorso corretto)
/src/vendor/
/src/node_modules/
/src/public/build/
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/storage/pail
/src/auth.json
/.phpunit.cache
/.phpunit.result.cache

# Cartelle di Docker da ignorare
mysql/